<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <ul class="navbar-nav">
    <li class="nav-item active">
   
    <a class="nav-link" href="#">
    <img src="https://cdnb.artstation.com/p/assets/images/images/023/060/323/large/taejune-kim-cafe.jpg?1577938709" class="rounded-circle" alt="Cinque Terre"
    style="with:30px;height:30px;">
    ManagaHT</a>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark">Tin tức trong ngày</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark">Truyện đọc nhiều</button>
    </li>
     <li class="nav-item">
      <button type="button" class="btn btn-dark">Xem anime</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark">Truyện yêu thích</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark">Thông tin cá nhân</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark push-left">Login</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-dark">Logout</button>
    </li>
  </ul>
  <form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav>
